// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.the-atom-duck {
  width: 180px;
  padding: 10px;
}

.the-atom-duck div {
  max-width: 100%;
}

#duck-message-top {
  font-size: 22px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#duck-message-bottom {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

#duck-image {
  width: 160px;
  cursor: pointer;
}

button {
  width: 70px;
  margin-left: 90px;
  font-weight: bold;
  font-size: 11px;
  border-style: groove;
  border-width: 1px;
  background: none;
}
